.componentes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;

  hr {
    margin: 0;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f6f6f6;
}
